{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Materi -->
<br></br>
<br></br>

<div id="main">
    <div class="inner">
        <h1>Materi Bangun Datar Matematika</h1>
        <span class="image main"><img src="{% static 'img/BangunDatar.jpg' %}" alt="" /></span>
        <p>Bangun datar telah banyak diterapkan dalam kehidupan sehari-hari. Beberapa contoh penerapannya yaitu bentuk ubin yang menyerupai bangun persegi dan sisi meja menyerupai bentuk persegi panjang. Selain itu, ketika kalian bermain layang-layang, objek layang-layang menyerupai bangun layang-layang, dan masih banyak penerapan bangun datar yang lainnya. Konsep terkait keliling dan luas bangun datar juga banyak diterapkan untuk menyelesaikan permasalahan sehari-hari.</p>
        <p>Bangun datar merupakan bangun objek atau bentuk berbentuk dua dimensi. Bangun dua dimensi merupakan bangun yang memiliki keliling dan luas, tetapi tidak memiliki isi (volume). Beberapa bangun datar yaitu persegi, persegi panjang, segitiga, jajar genjang, trapesium, belah ketupat, laying-layang, dan lingkaran. Simetri putar dapat diartikan sebagai banyaknya posisi yang menyerupai bentuk awal jika diputar dalam satu putaran penuh.</p>
    </div>
</div>

<div>
<br>
    <h2>Jenis-Jenis Bangun Datar</h2>
        <tr>
            <div>
            <th>1. Persegi</th>
            <span class="image main"><img src="{% static 'img/persegi.png' %}" alt=""></span>
            <p>Bangun Datar Persegi adalah persegi panjang yang semua sisinya mempunyai panjang yang sama dan untuk Rumus Luas dan Keliling Persegi.</p>
            <th>Ciri-ciri bangun datar persegi</th>
            <p>a. Memiliki 4 sisi yang sama panjang.</p>
            <p>b. Memiliki sudut-sudut yang sama besar, yaitu 90 derajat.</p>
            <p>c. Memiliki 2 diagonal yang sama panjang, berpotongan tegak lurus, dan membagi kedua sudut berhadapan menjadi sama besar.</p>
            <th>Rumus Luas dan rumus Keliling persegi</th>
            <p>Luas : s x s</p>
            <p>Keliling : 4 x s</p>
            <p>Keterangan :</p>
            <p>s = sisi</p>
            </div>

            <div>
            <th>2. Persegi Panjang</th>
            <span class="image main"><img src="{% static 'img/persegi_panjang.png' %}" alt=""></span>
            <p>Bangun Datar Persegi Panjang adalah suatu bangun datar yg memiliki sisi yang berhadapan yang sama panjang dan mempunyai 4 buah titik sudut yang siku-siku.</p>
            <th>Ciri-ciri bangun datar persegi panjang</th>
            <p>a. Sisi-sisi yang berhadapan mempunyai panjang yang sama.</p>
            <p>b. Kedua diagonalnya sama panjang dan berpotongan untuk saling membagi 2 sama panjang.</p>
            <p>c. Setiap sudutnya sama besar, yaitu 90 derajat.</p>
            <th>Rumus Luas dan rumus Keliling persegi panjang</th>
            <p>Luas : p x l</p>
            <p>Keliling : 2 (p + l)</p>
            <p>Keterangan :</p>
            <p>p = panjang</p>
            <p>l = lebar</p>
            </div>

            <div>
            <th>3. Segitiga</th>
            <span class="image main"><img src="{% static 'img/Segitiga.jpg' %}" alt=""></span>
            <p>Bangun Datar Segitiga adalah bangun datar yg dibentuk oleh 3 buah titik yg titik tersebut tidak segaris.</p>
            <th>Ciri-ciri bangun datar segitiga</th>
            <p>a. Terdiri dari 3 sisi garis lurus.</p>
            <p>b. Terdiri dari 3 titik di setiap sudutnya dengan total 180 derajat.</p>
            <p>c. Ada banyak jenis segitiga, yaitu segitiga siku-siku, segitiga sama sisi, segitiga sama kaki, dan segitiga sembarang.</p>
            <th>Rumus Luas dan rumus keliling segitiga</th>
            <p>Luas : (a x t)/2</p>
            <p>Keliling : s + s + s</p>
            <p>Keterangan :</p>
            <p>a = alas</p>
            <p>t = tinggi</p>
            <p>s = sisi</p>
            </div>

            <div>
            <th>4. Jajar Genjang</th>
            <span class="image main"><img src="{% static 'img/jajar_genjang.png' %}" alt=""></span>
            <p>Jajar genjang adalah bangun datar yang dibentuk oleh dua pasang rusuk yang masing-masing sama panjang dan sejajar dengan pasangannya, serta memiliki dua pasang sudut bukan siku-suku yang masing-masing sama besar dengan sudut di hadapannya.</p>
            <th>Ciri-ciri bangun datar jajar genjang</th>
            <p>a. Berbentuk segi empat.</p>
            <p>b. Tidak sempunyai simetri lipat dan simetri putar.</p>
            <p>c. Sisi-sisi yang berhadapan memiliki panjang yang sama.</p>
            <p>d. Sudut-sudut yang berhadapan sama besar.</p>
            <p>e. Diagonal-diagonalnya berpotongan untuk saling membagi dua sama panjang.</p>
            <th>Rumus Luas dan rumus Keliling jajar genjang</th>
            <p>Luas : a x t</p>
            <p>Keliling : s + s + s + s</p>
            <p>Keterangan :</p>
            <p>a = alas</p>
            <p>t = tinggi</p>
            <p>s = sisi</p>
            </div>

            <div>
            <th>5. Trapesium</th>
            <span class="image main"><img src="{% static 'img/trapesium.png' %}" alt=""></span>
            <p>Bangun Datar Trapesium adalah bangun Segi Empat yang mempunyai sepasang sisi yang sejajar.</p>
            <th>Ciri-ciri bangun datar trapesium</th>
            <p>a. Memiliki sepasang sisi yang panjangnya sama atau sejajar.</p>
            <p>b. Tiap pasang sudut yang sisinya sejajar adalah 180 derajat.</p>
            <p>c. Hanya memiliki 1 simetri putar.</p>
            <p>d. Memiliki 4 rusuk dan 4 titik siku.</p>
            <p>e. Memiliki diagonal yang sama panjang.</p>
            <p>f. Ada tiga jenis trapesium, yaitu trapesium siku-siku, trapesium sama kaki, dan trapesium sembarang.</p>
            <th>Rumus Luas dan rumus Keliling trapesium</th>
            <p>Luas :  1 / 2 (a + b) x t</p>
            <p>Keliling : s + s + s + s</p>
            <p>Keteragan :</p>
            <p>a = sisi atas</p>
            <p>b = sisi bawah</p>
            <p>t = tinggi</p>
            <p>s = sisi</p>
            </div>

            <div>
            <th>6. Lingkaran</th>
            <span class="image main"><img src="{% static 'img/lingkaran.png' %}" alt=""></span>
            <p>Bangun Datar Lingkaran adalah bangun datar yang terbentuk dari himpunan-himpunan yang semua titiknya mengelilingi suatu titik asal dengan jarak yang sama. Jarak itu biasanya dilambangkan dengan r (Radius) atau sering disebut juga jari-jari</p>
            <th>Ciri-ciri bangun datar lingkaran</th>
            <p>a. Memiliki simetri lipat dan simetri putar yang jumlahnya tak terhingga.</p>
            <p>b. Mempunyai 1 titik pusat.</p>
            <p>c. Jumlah derajat lingkaran sebesar 360 derajat.</p>
            <th>Rumus Luas dan rumus Keliling lingkaran</th>
            <p>Luas : (πd²) / 4 atau πr²</p>
            <p>Keliling : πd atau 2πr</p>
            <p>π = phi (22/7 atau 3,14)</p>
            <p>d = diameter lingkaran</p>
            <p>r = jari-jari lingkaran</p>
            </div>

            <div>
            <th>7. Layang-layang</th>
            <span class="image main"><img src="{% static 'img/layang-layang.png' %}" alt=""></span>
            <p>Bangun Datar Layang-Layang adalah Bangun Segi empat yang salah satu diagonalnya dapat memotong tegak lurus dengan sumbu diagonal yang lainnya.</p>
            <th>Ciri-ciri bangun datar layang-layang</th>
            <p>a. Mempunyai sisi-sisi yang berdekatan sama panjang.</p>
            <p>b. Mempunyai sepasang sudut yang berhadapan sama besar.</p>
            <p>c. Kedua diagonalnya tegak lurus berpotongan dan salah satunya membagi 2 sama panjang bagian layang-layang.</p>
            <th>Rumus Luas dan rumus Keliling layang-layang</th>
            <p>Luas : d1 x d2 / 2</p>
            <p>Keliling : s + s + s + s</p>
            <p>Keterangan :</p>
            <p>d1 = diagonal 1</p>
            <p>d2 = diagonal 2</p>
            <p>s = sisi</p>
            </div>

            <div>
            <th>8. Belah Ketupat</th>
            <span class="image main"><img src="{% static 'img/belah_ketupat.png' %}" alt=""></span>
            <p>Bangun Datar Belah Ketupat adalah Bangun Segi Empat yang semua sisi-sisinya itu sama panjang dan kedua diagonal belah ketupat saling berpotongan tegak lurus.</p>
            <th>Ciri-ciri bangun datar belah ketupat</th>
            <p>a. Mempunyai 4 sisi dengan panjang yang sama.</p>
            <p>b. Mempunyai 4 sudut dengan besar yang sama.</p>
            <p>c. Mempunyai 4 titik sudut.</p>
            <p>d. Sisinya tidak tegak lurus.</p>
            <p>e. Mempunyai 2 diagonal yang berbeda panjangnya.</p>
            <th>Rumus Luas dan rumus Keliling belah ketupat</th>
            <p>Luas : (d1 x d2) / 2</p>
            <p>Keliling : 4 x s</p>
            <p>Keterangan :</p>
            <p>d1 = diagonal 1</p>
            <p>d2 = diagonal 2</p>
            <p>s = sisi</p>
            </div>
        </tr>
</br>
</div>

<div>
    <br>
        <h2>Contoh Soal</h2>
            <tr>
                <div>
                <th>1. Persegi</th>
                <p>Sebuah persegi memiliki ukuran sisi 5 cm. Hitunglah berapa luas dan keliling persegi tersebut!</p>
                <span class="image main"><img src="{% static 'img/Cs_Persegi.jpg' %}" alt=""></span>
                <p>Penyelesaian</p>
                <p>Cara Menghitung Luas Persegi</p>
                <p>L = s x s</p>
                <p>L = 5 x 5</p>
                <p>L = 25 cm²</p>
                <p>Jadi, luas persegi tersebut adalah 25 cm².</p>
                <p>Cara Menghitung Keliling Persegi</p>
                <p>K = 4 x s</p>
                <p>K = 4 x 5</p>
                <p>K = 20 cm</p>
                <p>Jadi, keliling persegi tersebut adalah 40 cm.</p>
                </div>
    
                <div>
                <th>2. Persegi Panjang</th>
                <p>Sebuah persegi panjang memiliki ukuran panjang 10 cm dan lebar 5 cm. Hitunglah berapa luas dan keliling persegi panjang tersebut!</p>
                <span class="image main"><img src="{% static 'img/Cs_Persegi_panjang.jpg' %}" alt=""></span>
                <p>Penyelesaian</p>
                <p>Cara Menghitung Luas Persegi Panjang</p>
                <p>L = p x l</p>
                <p>L = 10 x 5</p>
                <p>L = 50 cm²</p>
                <p>Jadi, luas persegi panjang tersebut adalah 50 cm².</p>
                <p>Cara Menghitung Keliling Persegi Panjang</p>
                <p>K = 2 x (p + l)</p>
                <p>K = 2 x (10 + 5)</p>
                <p>K = 2 x 15</p>
                <p>K = 30 cm</p>
                <p>Jadi, keliling persegi panjang tersebut adalah 30 cm.</p>
                </div>
    
                <div>
                <th>3. Segitiga</th>
                <p>Sebuah segitiga memiliki ukuran sisi alas 10 cm dan tinggi 7 cm. Jika ukuran sisi-sisi miringnya adalah 8 cm dan 9 cm, hitunglah berapa luas dan keliling segitiga tersebut!</p>
                <span class="image main"><img src="{% static 'img/Cs_Segitiga.jpg' %}" alt=""></span>
                <p>Penyelesaian</p>
                <p>Cara Menghitung Luas Segitiga</p>
                <p>L = ½ x a x t</p>
                <p>L = ½ x 10 x 7</p>
                <p>L = ½ x 70</p>
                <p>L = 35 cm²</p>
                <p>Jadi, luas segitiga tersebut adalah 35 cm².</p>
                <p>Cara Menghitung Keliling Segitiga</p>
                <p>K = s + s + s</p>
                <p>K = 8 + 9 + 10</p>
                <p>K = 27 cm</p>
                <p>Jadi, keliling segitiga tersebut adalah 27 cm.</p>
                </div>
    
                <div>
                <th>4. Jajar Genjang</th>
                <p>Perhatikan gambar jajar genjang di atas. Hitunglah berapa luas dan keliling jajar genjang tersebut!</p>
                <span class="image main"><img src="{% static 'img/Cs_Jajar_genjang.jpg' %}" alt=""></span>
                <p>Penyelesaian</p>
                <p>Cara Menghitung Luas Jajar Genjang</p>
                <p>L = a x t</p>
                <p>L = 10 x 8</p>
                <p>L = 80 cm²</p>
                <p>Jadi, luas jajar genjang tersebut adalah 80 cm².</p>
                <p>Cara Menghitung Keliling Jajar Genjang</p>
                <p>K = 2 x (a + b)</p>
                <p>K = 2 x (10 + 12)</p>
                <p>K = 2 x 22</p>
                <p>K = 44 cm</p>
                <p>Jadi, keliling jajar genjang tersebut adalah 44 cm.</p>
                </div>
    
                <div>
                <th>5. Trapesium</th>
                <p>Perhatikan gambar trapesium di atas. Hitunglah berapa luas dan keliling trapesium tersebut!</p>
                <span class="image main"><img src="{% static 'img/Cs_Trapesium.jpg' %}" alt=""></span>
                <p>Penyelesaian</p>
                <p>Cara Menghitung Luas Trapesium</p>
                <p>L = ½ x (a + b) x t</p>
                <p>L = ½ x (10 + 12) x 10</p>
                <p>L = ½ x 22 x 10</p>
                <p>L = ½ x 220</p>
                <p>L = 110 cm²</p>
                <p>Jadi, luas trapesium tersebut adalah 110 cm².</p>
                <p>Cara Menghitung Keliling Trapesium</p>
                <p>K = s + s + s + s</p>
                <p>K = 10 + 10 + 11 + 12</p>
                <p>K = 43 cm</p>
                <p>Jadi, keliling trapesium tersebut adalah 43 cm.</p>
                </div>
    
                <div>
                <th>6. Lingkaran</th>
                <p>Sebuah lingkaran memiliki ukuran jari-jari 7 cm. Hitunglah berapa luas dan keliling lingkaran tersebut!</p>
                <span class="image main"><img src="{% static 'img/Cs_Lingkaran.jpg' %}" alt=""></span>
                <p>Penyelesaian</p>
                <p>Cara Menghitung Luas Lingkaran</p>
                <p>L = π x r²</p>
                <p>L = 22/7 x 7²</p>
                <p>L = 22/7 x 49</p>
                <p>L = 154 cm²</p>
                <p>Jadi, luas lingkaran tersebut adalah 154 cm².</p>
                <p>Cara Menghitung Keliling Lingkaran</p>
                <p>K = π x 2 x r</p>
                <p>K = 22/7 x 2 x 7</p>
                <p>K = 22/7 x 14</p>
                <p>K = 44 cm</p>
                <p>Jadi, keliling lingkaran tersebut adalah 44 cm.</p>
                </div>
    
                <div>
                <th>7. Layang-layang</th>
                <p>Perhatikan gambar layang-layang di atas. Hitunglah berapa luas dan keliling layang-layang tersebut!</p>
                <span class="image main"><img src="{% static 'img/Cs_layang-layang.jpg' %}" alt=""></span>
                <p>Penyelesaian</p>
                <p>Cara Menghitung Luas Layang-Layang</p>
                <p>L = ½ x d1 x d2</p>
                <p>L = ½ x 10 x 20</p>
                <p>L = ½ x 200</p>
                <p>L = 100 cm²</p>
                <p>Jadi, luas layang-layang tersebut adalah 100 cm².</p>
                <p>Cara Menghitung Keliling Layang-Layang</p>
                <p>K = s +s + s + s</p>
                <p>K = 6 + 22 + 6 + 22</p>
                <p>K = 56 cm</p>
                <p>Jadi, keliling layang-layang tersebut adalah 56 cm.</p>
                </div>
    
                <div>
                <th>8. Belah Ketupat</th>
                <p>Sebuah belah ketupat memiliki ukuran diagonal 10 cm dan 14 cm. Sedangkan panjang sisi-sisinya adalah 8 cm. Hitunglah berapa luas dan keliling belah ketupat tersebut!</p>
                <span class="image main"><img src="{% static 'img/Cs_Belah_ketupat.jpg' %}" alt=""></span>
                <p>Penyelesaian</p>
                <p>Cara Menghitung Luas Belah Ketupat</p>
                <p>L = ½ x d1 x d2</p>
                <p>L = ½ x 10 x 14</p>
                <p>L = ½ x 140</p>
                <p>L =  70 cm²</p>
                <p>Jadi, luas belah ketupat tersebut adalah 70 cm².</p>
                <p>Cara Menghitung Keliling Belah Ketupat</p>
                <p>K = 4 x s</p>
                <p>K = 4 x 8</p>
                <p>K = 32 cm</p>
                <p>Jadi, keliling belah ketupat tersebut adalah 32 cm.</p>
                </div>
            </tr>
    </br>
</div>


<!-- Sejarah -->
<br></br>
<br></br>
<section id="about">
    <div class="container">
        <div class="row text-center mb-3">
            <div class="row">
               <h2>Materi Bangun Datar Matematika</h2> 
               <br></br>
               <br></br>
               <span class="image main"><img src="{% static 'img/sej.jpg' %}" alt="" /></span>
            </div>
        </div>
        <div class="row justify-content-center fs-5 text-justify">
            <div class="col-md-12">
                <br>
                <p class="justify">Bangun datar telah banyak diterapkan dalam kehidupan sehari-hari. Beberapa contoh penerapannya yaitu bentuk ubin yang menyerupai bangun persegi dan sisi meja menyerupai bentuk persegi panjang. Selain itu, ketika kalian bermain layang-layang, objek layang-layang menyerupai bangun layang-layang, dan masih banyak penerapan bangun datar yang lainnya. Konsep terkait keliling dan luas bangun datar juga banyak diterapkan untuk menyelesaikan permasalahan sehari-hari.<p>

                <p class="justify">Bangun datar merupakan bangun objek atau bentuk berbentuk dua dimensi. Bangun dua dimensi merupakan bangun yang memiliki keliling dan luas, tetapi tidak memiliki isi (volume). Beberapa bangun datar yaitu persegi, persegi panjang, segitiga, jajar genjang, trapesium, belah ketupat, laying-layang, dan lingkaran. Simetri putar dapat diartikan sebagai banyaknya posisi yang menyerupai bentuk awal jika diputar dalam satu putaran penuh.<p>
            </div>
        <div>
    </div>

</section>

<!-- Sejarah -->
<br></br>
<br></br>
<section id="about">
    <div class="container">
        <div class="row text-center mb-3">
            <div class="row">
               <h3>A. Jenis-Jenis Bangun Datar</h3> 
               <br></br>
            </div>
        </div>
        <div class="row text mb-3">
          <div class="row">
             <h4>1. Persegi</h4> 
             <center><span class="image main"><img src="{% static 'img/materi/persegi.png' %}" alt="" width="200px"></span></center>
          </div>
      </div>
        <div class="row justify-content-center fs-5 text-justify">
            <div class="col-md-12">
                <p class="justify">Bangun Datar Persegi adalah persegi panjang yang semua sisinya mempunyai panjang yang sama dan untuk Rumus Luas dan Keliling Persegi.<p>

                <p class="justify">Bangun datar merupakan bangun objek atau bentuk berbentuk dua dimensi. Bangun dua dimensi merupakan bangun yang memiliki keliling dan luas, tetapi tidak memiliki isi (volume). Beberapa bangun datar yaitu persegi, persegi panjang, segitiga, jajar genjang, trapesium, belah ketupat, laying-layang, dan lingkaran. Simetri putar dapat diartikan sebagai banyaknya posisi yang menyerupai bentuk awal jika diputar dalam satu putaran penuh.<p>
            </div>
        <div>
    </div>

</section>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#712cf9" fill-opacity="1" d="M0,96L30,122.7C60,149,120,203,180,234.7C240,267,300,277,360,277.3C420,277,480,267,540,266.7C600,267,660,277,720,266.7C780,256,840,224,900,208C960,192,1020,192,1080,213.3C1140,235,1200,277,1260,261.3C1320,245,1380,171,1410,133.3L1440,96L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>
<!-- Akhir Sejarah -->


{% endblock %}