{% extends 'base.html' %}

{% load static %}

{% block content %}


<!-- Materi -->
<br></br>
<br></br>
<section id="about">
    <div class="container">
        <div class="row text-center mb-3">
            <div class="row">
               <h1>Materi Bangun Datar Matematika</h1> 
               <br></br>
               <br></br>
               <span class="image main"><img src="{% static 'img/materi/BangunDatar.jpg' %}" alt="" width="500px" style="display:block; margin:auto;" /></span>
            </div>
        </div>
        <div class="row justify-content-center fs-5 text-justify">
            <div class="col-md-12">
                <br>
                <p class="justify">Bangun datar telah banyak diterapkan dalam kehidupan sehari-hari. Beberapa contoh penerapannya yaitu bentuk ubin yang menyerupai bangun persegi dan sisi meja menyerupai bentuk persegi panjang. Selain itu, ketika kalian bermain layang-layang, objek layang-layang menyerupai bangun layang-layang, dan masih banyak penerapan bangun datar yang lainnya. Konsep terkait keliling dan luas bangun datar juga banyak diterapkan untuk menyelesaikan permasalahan sehari-hari.<p>

                <p class="justify">Bangun datar merupakan bangun objek atau bentuk berbentuk dua dimensi. Bangun dua dimensi merupakan bangun yang memiliki keliling dan luas, tetapi tidak memiliki isi (volume). Beberapa bangun datar yaitu persegi, persegi panjang, segitiga, jajar genjang, trapesium, belah ketupat, laying-layang, dan lingkaran. Simetri putar dapat diartikan sebagai banyaknya posisi yang menyerupai bentuk awal jika diputar dalam satu putaran penuh.<p>
            </div>
        <div>
    </div>

</section>

<section id="about">
    <div class="container">
        <div class="row  mb-3 mt-5">
            <div class="row">
               <h2>A. Jenis-Jenis Bangun Datar</h2> 
               <br></br>
            </div>
        </div>
        <div class="row text mb-3">
          <div class="row">
             <h3>1. Persegi</h3> 
             <span class="image main"><img src="{% static 'img/materi/persegi.png' %}" alt="" width="200px" style="display:block; margin:auto;"></span>
          </div>
        </div>
        <div class="row justify-content-center fs-5 text-justify">
            <div class="col-md-12">
                <p class="justify">Bangun Datar Persegi adalah persegi panjang yang semua sisinya mempunyai panjang yang sama dan untuk Rumus Luas dan Keliling Persegi.<p>
            </div>
        <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h4>Ciri-ciri bangun datar persegi</h4><p>
                    <p class="justify">a. Memiliki 4 sisi yang sama panjang.<p>
                    <p class="justify">b. Memiliki sudut-sudut yang sama besar, yaitu 90 derajat.<p>
                    <p class="justify">c. Memiliki 2 diagonal yang sama panjang, berpotongan tegak lurus, dan membagi kedua sudut berhadapan menjadi sama besar.<p>
                </div>
            <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h4>Rumus Luas dan rumus Keliling persegi</h4><p>
                    <p class="justify">Luas : s x s<p>
                    <p class="justify">Keliling : 4 x s<p>
                    <p class="justify mt-5">Keterangan :</p>
                    <p class="justify">s = sisi</p>
                </div>
            <div>

        <div class="row text mb-3 mt-5">
          <div class="row">
             <h3>2. Persegi Panjang</h3> 
             <span class="image main"><img src="{% static 'img/materi/persegi_panjang.png' %}" alt="" width="200px" style="display:block; margin:auto;"></span>
          </div>
        </div>
        <div class="row justify-content-center fs-5 text-justify">
            <div class="col-md-12">
                <p class="justify">Bangun Datar Persegi Panjang adalah suatu bangun datar yg memiliki sisi yang berhadapan yang sama panjang dan mempunyai 4 buah titik sudut yang siku-siku<p>
            </div>
        <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h4>Ciri-ciri bangun datar persegi panjang</h4><p>
                    <p class="justify">a. Sisi-sisi yang berhadapan mempunyai panjang yang sama.<p>
                    <p class="justify">b. Kedua diagonalnya sama panjang dan berpotongan untuk saling membagi 2 sama panjang.<p>
                    <p class="justify">c. Setiap sudutnya sama besar, yaitu 90 derajat.<p>
                </div>
            <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <br>
                    <p class="justify"><h4>Rumus Luas dan rumus Keliling persegi panjang</h4><p>
                    <p class="justify">Luas : p x l<p>
                    <p class="justify">Keliling : 2 (p + l)<p>
                    <p class="justify mt-5">Keterangan :</p>
                    <p class="justify">p = panjang</p>
                    <p class="justify">l = lebar</p>
                </div>
            <div>

        <div class="row text  mt-5">
          <div class="row">
             <h3>3. Segitiga</h3> 
             <span class="image main"><img src="{% static 'img/materi/Segitiga.jpg' %}" alt="" width="400px" style="display:block; margin:auto;"></span>
          </div>
        </div>
        <div class="row justify-content-center fs-5 text-justify">
            <div class="col-md-12">
                <p class="justify">Bangun Datar Segitiga adalah bangun datar yg dibentuk oleh 3 buah titik yg titik tersebut tidak segaris.<p>
            </div>
        <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h4>Ciri-ciri bangun datar segitiga</h4><p>
                    <p class="justify">a. Terdiri dari 3 sisi garis lurus.<p>
                    <p class="justify">b. Terdiri dari 3 titik di setiap sudutnya dengan total 180 derajat.<p>
                    <p class="justify">c. Ada banyak jenis segitiga, yaitu segitiga siku-siku, segitiga sama sisi, segitiga sama kaki, dan segitiga sembarang.<p>
                </div>
            <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h4>Rumus Luas dan rumus keliling segitiga</h4><p>
                    <p class="justify">Luas : (a x t)/2<p>
                    <p class="justify">Keliling : s + s + s<p>
                    <p class="justify mt-5">Keterangan :</p>
                    <p class="justify">a = alas</p>
                    <p class="justify">t = tinggi</p>
                    <p class="justify">s = sisi</p>

                </div>
            <div>

        <div class="row text mb-3 mt-5">
          <div class="row">
             <h3>4. Jajar Genjang</h3> 
             <span class="image main"><img src="{% static 'img/materi/jajar_genjang.png' %}" alt="" width="200px" style="display:block; margin:auto;"></span>
          </div>
        </div>
        <div class="row justify-content-center fs-5 text-justify">
            <div class="col-md-12">
                <p class="justify">Jajar genjang adalah bangun datar yang dibentuk oleh dua pasang rusuk yang masing-masing sama panjang dan sejajar dengan pasangannya, serta memiliki dua pasang sudut bukan siku-suku yang masing-masing sama besar dengan sudut di hadapannya.<p>
            </div>
        <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h4>Ciri-ciri bangun datar jajar genjang</h4><p>
                    <p class="justify">a. Berbentuk segi empat.<p>
                    <p class="justify">b. Tidak sempunyai simetri lipat dan simetri putar.<p>
                    <p class="justify">c. Sisi-sisi yang berhadapan memiliki panjang yang sama.<p>
                    <p class="justify">d. Sudut-sudut yang berhadapan sama besar.<p>
                    <p class="justify">e. Diagonal-diagonalnya berpotongan untuk saling membagi dua sama panjang.<p>
                </div>
            <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h4>Rumus Luas dan rumus Keliling jajar genjang</h4><p>
                    <p class="justify">Luas : a x t<p>
                    <p class="justify">Keliling : s + s + s + s<p>
                    <p class="justify mt-5">Keterangan :</p>
                    <p class="justify">a = alas</p>
                    <p class="justify">t = tinggi</p>
                    <p class="justify">s = sisi</p>
                </div>
            <div>

        <div class="row text mb-3 mt-5">
          <div class="row">
             <h3>5. Trapesium </h3> 
             <span class="image main"><img src="{% static 'img/materi/trapesium.png' %}" alt="" width="200px" style="display:block; margin:auto;"></span>
          </div>
        </div>
        <div class="row justify-content-center fs-5 text-justify">
            <div class="col-md-12">
                <p class="justify">Bangun Datar Trapesium adalah bangun Segi Empat yang mempunyai sepasang sisi yang sejajar.<p>
            </div>
        <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h4>Ciri-ciri bangun datar trapesium</h4><p>
                    <p class="justify">a. Memiliki sepasang sisi yang panjangnya sama atau sejajar.<p>
                    <p class="justify">b. Tiap pasang sudut yang sisinya sejajar adalah 180 derajat.<p>
                    <p class="justify">c. Hanya memiliki 1 simetri putar.<p>
                    <p class="justify">d. Memiliki 4 rusuk dan 4 titik siku.<p>
                    <p class="justify">e. Memiliki diagonal yang sama panjang.<p>
                    <p class="justify">f. Ada tiga jenis trapesium, yaitu trapesium siku-siku, trapesium sama kaki, dan trapesium sembarang.<p>
                </div>
            <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h4>Rumus Luas dan rumus Keliling trapesium</h4><p>
                    <p class="justify">Luas : 1 / 2 (a + b) x t<p>
                    <p class="justify">Keliling : s + s + s + s<p>
                    <p class="justify mt-5">Keterangan :</p>
                    <p class="justify">a = sisi atas</p>
                    <p class="justify">b = sisi bawah</p>
                    <p class="justify">t = tinggi</p>
                    <p class="justify">s = sisi</p>
                </div>
            <div>

        <div class="row text mb-3 mt-5">
          <div class="row">
             <h3>6. Lingkaran </h3> 
             <span class="image main"><img src="{% static 'img/materi/lingkaran.png' %}" alt="" width="200px" style="display:block; margin:auto;"></span>
          </div>
        </div>
        <div class="row justify-content-center fs-5 text-justify">
            <div class="col-md-12">
                <p class="justify">Bangun Datar Lingkaran adalah bangun datar yang terbentuk dari himpunan-himpunan yang semua titiknya mengelilingi suatu titik asal dengan jarak yang sama. Jarak itu biasanya dilambangkan dengan r (Radius) atau sering disebut juga jari-jari.<p>
            </div>
        <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h4>Ciri-ciri bangun datar lingkaran</h4><p>
                    <p class="justify">a. Memiliki simetri lipat dan simetri putar yang jumlahnya tak terhingga.<p>
                    <p class="justify">b. Mempunyai 1 titik pusat.<p>
                    <p class="justify">c. Jumlah derajat lingkaran sebesar 360 derajat.<p>
                </div>
            <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h4>Rumus Luas dan rumus Keliling lingkaran</h4><p>
                    <p class="justify">Luas : (πd²) / 4 atau πr²<p>
                    <p class="justify">Keliling : πd atau 2πr<p>
                    <p class="justify mt-5">Keterangan :</p>
                    <p class="justify">π = phi (22/7 atau 3,14)</p>
                    <p class="justify">d = diameter lingkaran</p>
                    <p class="justify">r = jari-jari lingkaran</p>
                </div>
            <div>

        <div class="row text mb-3 mt-5">
          <div class="row">
             <h3>7. Layang-layang</h3> 
             <span class="image main"><img src="{% static 'img/materi/layang-layang.png' %}" alt="" width="200px" style="display:block; margin:auto;"></span>
          </div>
        </div>
        <div class="row justify-content-center fs-5 text-justify">
            <div class="col-md-12">
                <p class="justify">Bangun Datar Layang-Layang adalah Bangun Segi empat yang salah satu diagonalnya dapat memotong tegak lurus dengan sumbu diagonal yang lainnya.<p>
            </div>
        <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h4>Ciri-ciri bangun datar layang-layang</h4><p>
                    <p class="justify">a. Mempunyai sisi-sisi yang berdekatan sama panjang.<p>
                    <p class="justify">b. Mempunyai sepasang sudut yang berhadapan sama besar.<p>
                    <p class="justify">c. Kedua diagonalnya tegak lurus berpotongan dan salah satunya membagi 2 sama panjang bagian layang-layang.<p>
                </div>
            <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h4>Rumus Luas dan rumus Keliling layang-layang</h4><p>
                    <p class="justify">Luas : d1 x d2 / 2<p>
                    <p class="justify">Keliling : s + s + s + s<p>
                    <p class="justify mt-5">Keterangan :</p>
                    <p class="justify">d1 = diagonal 1</p>
                    <p class="justify">d2 = diagonal 2</p>
                    <p class="justify">s = sisi</p>
                </div>
            <div>

        <div class="row text mb-3 mt-5">
          <div class="row">
             <h3>8. Belah Ketupat </h3> 
             <span class="image main"><img src="{% static 'img/materi/belah_ketupat.png' %}" alt="" width="200px" style="display:block; margin:auto;"></span>
          </div>
        </div>
        <div class="row justify-content-center fs-5 text-justify">
            <div class="col-md-12">
                <p class="justify">Bangun Datar Belah Ketupat adalah Bangun Segi Empat yang semua sisi-sisinya itu sama panjang dan kedua diagonal belah ketupat saling berpotongan tegak lurus.<p>
            </div>
        <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h4>Ciri-ciri bangun datar belah ketupat</h4><p>
                    <p class="justify">a. Mempunyai 4 sisi dengan panjang yang sama.<p>
                    <p class="justify">b. Mempunyai 4 sudut dengan besar yang sama.<p>
                    <p class="justify">c. Mempunyai 4 titik sudut.<p>
                    <p class="justify">d. Sisinya tidak tegak lurus.<p>
                    <p class="justify">e. Mempunyai 2 diagonal yang berbeda panjangnya.<p>
                </div>
            <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h4>Rumus Luas dan rumus Keliling belah ketupat</h4><p>
                    <p class="justify">Luas : (d1 x d2) / 2<p>
                    <p class="justify">Keliling : 4 x s<p>
                    <p class="justify mt-5">Keterangan :</p>
                    <p class="justify">d1 = diagonal 1</p>
                    <p class="justify">d2 = diagonal 2</p>
                    <p class="justify">s = sisi</p>
                </div>
            <div>
    </div>
</section>
<!-- Akhir Materi -->

<!-- Contoh Soal -->
<br>
<section id="about">
    <div class="container">
        <div class="row  mb-3 mt-5">
            <div class="row">
               <h2>B. Contoh Soal</h2> 
               <br></br>
            </div>
        </div>

        <div class="row text mb-3">
          <div class="row">
             <h3>1. Persegi</h3> 
          </div>
        </div>
        <div class="row justify-content-center fs-5 text-justify">
            <div class="col-md-12">
                <p class="justify">Sebuah persegi memiliki ukuran sisi 5 cm. Hitunglah berapa luas dan keliling persegi tersebut!<p>
                    <span class="image main"><img src="{% static 'img/materi/Cs_Persegi.jpg' %}" alt="" width="300px" style="display:block; margin:auto;"></span>
            </div>
        <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h4>Penyelesaian</h4><p>
                    <p class="justify"><h5>Cara Menghitung Luas Persegi</h5><p>
                    <p class="justify">L = s x s<p>
                    <p class="justify">L = 5 x 5<p>
                    <p class="justify">L = 25 cm²<p>
                    <p class="justify">Jadi, luas persegi tersebut adalah 25 cm².<p>
                </div>
            <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify mt-5"><h5>Cara Menghitung Keliling Persegi</h5><p>
                    <p class="justify">K = 4 x s<p>
                    <p class="justify">K = 4 x 5<p>
                    <p class="justify">K = 20 cm<p>
                    <p class="justify">Jadi, keliling persegi tersebut adalah 40 cm.<p>
                </div>
            <div>

        <div class="row text mb-3 mt-5">
          <div class="row">
             <h3>2. Persegi Panjang</h3> 
          </div>
        </div>
        <div class="row justify-content-center fs-5 text-justify">
            <div class="col-md-12">
                <p class="justify">Sebuah persegi panjang memiliki ukuran panjang 10 cm dan lebar 5 cm. Hitunglah berapa luas dan keliling persegi panjang tersebut!<p>
                    <span class="image main"><img src="{% static 'img/materi/Cs_Persegi_panjang.jpg' %}" alt="" width="300px" style="display:block; margin:auto;"></span>
            </div>
        <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h4>Penyelesaian</h4><p>
                    <p class="justify"><h5>Cara Menghitung Luas Persegi Panjang</h5><p>
                    <p class="justify">L = p x l<p>
                    <p class="justify">L = 10 x 5<p>
                    <p class="justify">L = 50 cm²<p>
                    <p class="justify">Jadi, luas persegi panjang tersebut adalah 50 cm².<p>
                </div>
            <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h5>Cara menghitung Keliling Persegi Panjang</h5><p>
                    <p class="justify">K = 2 x (p + l)<p>
                    <p class="justify">K = 2 x (10 + 5)<p>
                    <p class="justify">K = 2 x 15<p>
                    <p class="justify">K = 30 cm<p>
                    <p class="justify">Jadi, keliling persegi panjang tersebut adalah 30 cm.<p>
                </div>
            <div>

        <div class="row text mb-3 mt-5">
          <div class="row">
             <h3>3. Segitiga</h3> 
          </div>
        </div>
        <div class="row justify-content-center fs-5 text-justify">
            <div class="col-md-12">
                <p class="justify">Sebuah segitiga memiliki ukuran sisi alas 10 cm dan tinggi 7 cm. Jika ukuran sisi-sisi miringnya adalah 8 cm dan 9 cm, hitunglah berapa luas dan keliling segitiga tersebut!<p>
                    <span class="image main"><img src="{% static 'img/materi/Cs_Segitiga.jpg' %}" alt="" width="300px" style="display:block; margin:auto;"></span>
            </div>
        <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h4>Penyelesaian</h4><p>
                    <p class="justify"><h5>Cara Menghitung Luas Segitiga</h5><p>
                    <p class="justify">L = ½ x a x t<p>
                    <p class="justify">L = ½ x 10 x 7<p>
                    <p class="justify">L = ½ x 70<p>
                    <p class="justify">L = 35 cm²<p>
                    <p class="justify">Jadi, luas segitiga tersebut adalah 35 cm².<p>
                </div>
            <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h5>Cara Menghitung Keliling Segitiga</h5><p>
                    <p class="justify">K = s + s + s<p>
                    <p class="justify">K = 8 + 9 + 10<p>
                    <p class="justify">K = 27 cm<p>
                    <p class="justify">Jadi, keliling segitiga tersebut adalah 27 cm.<p>
                </div>
            <div>

        <div class="row text mb-3 mt-5">
          <div class="row">
             <h3>4. Jajar Genjang</h3> 
          </div>
        </div>
        <div class="row justify-content-center fs-5 text-justify">
            <div class="col-md-12">
                <p class="justify">Perhatikan gambar jajar genjang di atas. Hitunglah berapa luas dan keliling jajar genjang tersebut!<p>
                    <span class="image main"><img src="{% static 'img/materi/Cs_Jajar_genjang.jpg' %}" alt="" width="300px" style="display:block; margin:auto;"></span>
            </div>
        <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h4>Penyelesaian</h4><p>
                    <p class="justify"><h5>Cara Menghitung Luas Jajar Genjang</h5><p>
                    <p class="justify">L = a x t<p>
                    <p class="justify">L = 10 x 8<p>
                    <p class="justify">L = 80 cm²<p>
                    <p class="justify">Jadi, luas jajar genjang tersebut adalah 80 cm².<p>
                </div>
            <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h5>Cara Menghitung Keliling Jajar Genjang</h5><p>
                    <p class="justify">K = 2 x (a + b)<p>
                    <p class="justify">K = 2 x (10 + 12)<p>
                    <p class="justify">K = 2 x 22<p>
                    <p class="justify">K = 44 cm<p>
                    <p class="justify">Jadi, keliling jajar genjang tersebut adalah 44 cm.<p>
                </div>
            <div>

        <div class="row text mb-3 mt-5">
          <div class="row">
             <h3>5. Trapesium</h3> 
          </div>
        </div>
        <div class="row justify-content-center fs-5 text-justify">
            <div class="col-md-12">
                <p class="justify">Perhatikan gambar trapesium di atas. Hitunglah berapa luas dan keliling trapesium tersebut!<p>
                    <span class="image main"><img src="{% static 'img/materi/Cs_Trapesium.jpg' %}" alt="" width="300px" style="display:block; margin:auto;"></span>
            </div>
        <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h4>Penyelesaian</h4><p>
                    <p class="justify"><h5>Cara Menghitung Luas Trapesium</h5><p>
                    <p class="justify">L = ½ x (a + b) x t<p>
                    <p class="justify">L = ½ x (10 + 12) x 10<p>
                    <p class="justify">L = ½ x 22 x 10<p>
                    <p class="justify">L = ½ x 220<p>
                    <p class="justify">L = 110 cm²<p>
                    <p class="justify">Jadi, luas trapesium tersebut adalah 110 cm².<p>
                </div>
            <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h5>Cara Menghitung Keliling Trapesium</h5><p>
                    <p class="justify">K = s + s + s + s<p>
                    <p class="justify">K = 10 + 10 + 11 + 12<p>
                    <p class="justify">K = 43 cm<p>
                    <p class="justify">Jadi, keliling trapesium tersebut adalah 43 cm.<p>
                </div>
            <div>

        <div class="row text mb-3 mt-5">
          <div class="row">
             <h3>6. Lingkaran</h3> 
          </div>
        </div>
        <div class="row justify-content-center fs-5 text-justify">
            <div class="col-md-12">
                <p class="justify">Sebuah lingkaran memiliki ukuran jari-jari 7 cm. Hitunglah berapa luas dan keliling lingkaran tersebut!<p>
                    <span class="image main"><img src="{% static 'img/materi/Cs_Lingkaran.jpg' %}" alt="" width="300px" style="display:block; margin:auto;"></span>
            </div>
        <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h4>Penyelesaian</h4><p>
                    <p class="justify"><h5>Cara Menghitung Luas Lingkaran</h5><p>
                    <p class="justify">L = π x r²<p>
                    <p class="justify">L = 22/7 x 7²<p>
                    <p class="justify">L = 22/7 x 49<p>
                    <p class="justify">L = 154 cm²<p>
                    <p class="justify">Jadi, luas lingkaran tersebut adalah 154 cm².<p>
                </div>
            <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h5>Cara Menghitung Keliling Lingkaran</h5><p>
                    <p class="justify">K = π x 2 x r<p>
                    <p class="justify">K = 22/7 x 2 x 7<p>
                    <p class="justify">K = 22/7 x 14<p>
                    <p class="justify">K = 44 cm<p>
                    <p class="justify">Jadi, keliling lingkaran tersebut adalah 44 cm.<p>
                </div>
            <div>

        <div class="row text mb-3 mt-5">
          <div class="row">
             <h4>7. Layang-layang</h4> 
          </div>
        </div>
        <div class="row justify-content-center fs-5 text-justify">
            <div class="col-md-12">
                <p class="justify">Perhatikan gambar layang-layang di atas. Hitunglah berapa luas dan keliling layang-layang tersebut!<p>
                    <span class="image main"><img src="{% static 'img/materi/Cs_layang-layang.jpg' %}" alt="" width="300px" style="display:block; margin:auto;"></span>
            </div>
        <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h4>Penyelesaian</h4><p>
                    <p class="justify"><h5>Cara Menghitung Luas Layang-Layang</h5><p>
                    <p class="justify">L = ½ x d1 x d2<p>
                    <p class="justify">L = ½ x 10 x 20<p>
                    <p class="justify">L = ½ x 200<p>
                    <p class="justify">L = 100 cm²<p>
                    <p class="justify">Jadi, luas layang-layang tersebut adalah 100 cm².<p>
                </div>
            <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h5>Cara Menghitung Keliling Layang-Layang</h5><p>
                    <p class="justify">K = s +s + s + s<p>
                    <p class="justify">K = 6 + 22 + 6 + 22<p>
                    <p class="justify">K = 56 cm<p>
                    <p class="justify">Jadi, keliling layang-layang tersebut adalah 56 cm.<p>
                </div>
            <div>

        <div class="row text mb-3 mt-5">
          <div class="row">
             <h3>8. Belah Ketupat</h3> 
          </div>
        </div>
        <div class="row justify-content-center fs-5 text-justify">
            <div class="col-md-12">
                <p class="justify">Sebuah belah ketupat memiliki ukuran diagonal 10 cm dan 14 cm. Sedangkan panjang sisi-sisinya adalah 8 cm. Hitunglah berapa luas dan keliling belah ketupat tersebut!<p>
                    <span class="image main"><img src="{% static 'img/materi/Cs_Belah_ketupat.jpg' %}" alt="" width="300px" style="display:block; margin:auto;"></span>
            </div>
        <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <p class="justify"><h4>Penyelesaian</h4><p>
                    <p class="justify"><h5>Cara Menghitung Luas Belah Ketupat</h5><p>
                    <p class="justify">L = ½ x d1 x d2<p>
                    <p class="justify">L = ½ x 10 x 14<p>
                    <p class="justify">L = ½ x 140<p>
                    <p class="justify">L = 70 cm²<p>
                    <p class="justify">Jadi, luas belah ketupat tersebut adalah 70 cm².<p>
                </div>
            <div>
            <div class="row justify-content-center fs-5 text-justify">
                <div class="col-md-12">
                    <br>
                    <p class="justify"><h5>Cara Menghitung Keliling Belah Ketupat</h5><p>
                    <p class="justify">K = 4 x s<p>
                    <p class="justify">K = 4 x 8<p>
                    <p class="justify">K = 32 cm<p>
                    <p class="justify">Jadi, keliling belah ketupat tersebut adalah 32 cm.<p>
                </div>
            <div>
</section>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#712cf9" fill-opacity="1" d="M0,96L30,122.7C60,149,120,203,180,234.7C240,267,300,277,360,277.3C420,277,480,267,540,266.7C600,267,660,277,720,266.7C780,256,840,224,900,208C960,192,1020,192,1080,213.3C1140,235,1200,277,1260,261.3C1320,245,1380,171,1410,133.3L1440,96L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>
<!-- Akhir Sejarah -->


{% endblock %}