{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Soal Latihan -->
<br></br>
<br></br>
<section id="about">
    <div class="container">
        <div class="row text-center mb-3">
            <div class="row">
               <h2>Soal-Soal Latihan</h2> 
            </div>
        </div>
        <div class="row justify-content-center fs-5 text-justify">
            <div class="col-md-12">
                <p class="justify">1.  Tentukan luas lingkaran jika 
                                       diketahui nilai jari-jari 
                                       nya 15.<p>

                <p class="justify">2.  Berapa keliling suatu persegi 
                                       panjang, jika panjangnya 6 dan 
                                       lebarnya 4?<p>

                <p class="justify">3.  Sebutkan bangun datar yang 
                                       memiliki 4 sisi sama besar.<p>
                <p class="justify">4.  Sebuah persegi memiliki ukuran
                                       sisi 5 cm. Hitunglah berapa luas 
                                       dan keliling persegi tersebut!<p>
                <p class="justify">5.  Sebuah belah ketupat memiliki 
                                       ukuran diagonal 10 cm dan 14 cm.
                                       Sedangkan panjang sisi-sisinya
                                       adalah 8 cm. Hitunglah berapa
                                       luas dan keliling belah ketupat 
                                       tersebut!<p>
                <p class="justify">6.  Diketahui luas sebuah persegi 
                                       289 cm². Tentukan panjang sisi
                                       persegi tersebut !<p>
                <p class="justify">7.  Luas persegi panjang 180 cm². 
                                       Jika panjangnya 15 cm, maka
                                       lebarnya adalah .... cm.<p>
                <p class="justify">8.  Diketahui segitiga PQR siku-siku
                                       di P. Jika luasnya 112 cm² dan 
                                       panjang RP 16 cm, berapakah 
                                       panjang PQ ?<p>
                <p class="justify">9.  Luas persegi panjang adalah 
                                       128 cm². Jika panjangnya 16 cm, 
                                       maka lebarnya adalah .... cm.<p>
                <p class="justify">10. Teras Pak Made luasnya 20 m² 
                                       akan dipasang keramik berukuran
                                       25 cm x 20 cm. Banyaknya keramik 
                                       yang dibutuhkan adalah .... 
                                       keramik.<p>
                <p class="justify">11. Ibu ingin menghias sekeliling
                                       taplak meja yang berbentuk persegi
                                       dengan renda bunga. Jika panjang 
                                       sisi taplak tersebut adalah 50 cm,
                                       maka berapa panjang renda yang 
                                       ibu butuhkan?<p>
                <p class="justify">12. Ayah ingin membuat penutup bak 
                                       berbentuk persegi dari triplek, 
                                       jika panjang sisi bak adalah 100
                                       cm. Maka berapa luas triplek yang
                                        harus ayah beli?<p>
                <p class="justify">13. Kakak memiliki sebuah kertas
                                       karton berbentuk persegi dengan 
                                       luas 64 cm². Jika kakak ingin 
                                       membagikan kertas karton tersebut
                                       kepada 4 orang temannya secara
                                       rata. Kakak harus menggunting 
                                       kertas karton tersebut dengan 
                                       panjang sisi?<p>
                <p class="justify">14. Sebuah lukisan berbentuk persegi
                                       dengan luas kertas sebesar 81 
                                       cm² akan di pasangkan bingkai 
                                       kayu pada sisi lukisan sesuai 
                                       dengan ukuran lukisan, berapa
                                       panjang kayu untuk membuat 
                                       bingkai lukisan?<p>
                <p class="justify">15. Dua buah persegi memiliki panjang 
                                       sisi yang berbeda. Panjang sisi 
                                       pada persegi pertama adalah ½ 
                                       dari panjang sisi pada persegi 
                                       kedua. Jika persegi pertama 
                                       memiliki luas 64 cm², maka
                                       keliling persegi kedua adalah
                                       ....<p>
            </div>
        <div>
    </div>

</section>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#712cf9" fill-opacity="1" d="M0,96L30,122.7C60,149,120,203,180,234.7C240,267,300,277,360,277.3C420,277,480,267,540,266.7C600,267,660,277,720,266.7C780,256,840,224,900,208C960,192,1020,192,1080,213.3C1140,235,1200,277,1260,261.3C1320,245,1380,171,1410,133.3L1440,96L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>
<!-- Akhir Soal Latihan -->



                                           
{% endblock %}